<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<!-- Don't forget to update version in glest.io/version.txt and glest-source/source/shared_lib/include/versions.h as well -->
		<add key="version" value="2.0.0406"/>
		<add key="binaries" value="https://codeload.github.com/Glest/windows-binaries/zip/2.0"/>
		<add key="binaries-dir" value="windows-binaries-2.0"/>
		<add key="binaries-md5" value="2f74fd64b2e033e6848da8425cf0554f"/>
		<add key="data" value="https://github.com/KeithSammut/glest-updated/raw/refs/heads/main/glest-data-2.0.7z?download="/>
		<add key="data-dir" value="glest-data-2.0"/>
		<add key="data-md5" value="5F5B28AFDB9DB04E7534E06DB2C13B37"/>
		<add key="data-bytes" value="636179725"/>
		<add key="data-7zlinecount" value="11124"/>
	</appSettings>
</configuration>
